.singlepost-block{
    padding: 15px;
}

.singlepost-title{
    display: flex;
    align-items: center;
}

.singlepost-title > img{
    display: inline;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.singlepost-description{
    margin-left: 43px;
}

.singlepost-details > p{
    font-size: 11px;
}

.singlepost-details > p > img{
    margin-right: 5px;
}

.singlepost-details .like{
    display: inline;
    margin-right: 10px;
}

.singlepost-details .comment{
    display: inline;
}