.section-timeline{
    padding: 15px;
}

.timeline-block{
    border: none;
    resize: none;
    padding: 10px;
    box-shadow: 0px 0px 20px 2px rgba(227,227,227,1);
    width: 100%;
    /* height:auto; */
    outline-width: 0;
    background-color: #fff;
}

.timeline-header{
    position: relative;
    padding: 15px;
}

.timeline-header > h5{
    display: inline;
    cursor: pointer;
    border-bottom: 2px solid #FA5216;
    margin-right: 15px;
}

.timeline-not-active{
    color: rgba(59,93,122,0.25);
    border-bottom: none !important;
    transition: 0.2s ease;
}

.timeline-not-active:hover{
    color: rgb(59,93,122);
}