@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:'Mulish', sans-serif;
  /* background-color: #F9F9F9; */
}
p{
  color: #999999;
  line-height: 25px;
}

::placeholder{
  color:#999999;
}

input[type=text]{
  border: 1px solid #999999;
  border-radius: 4px;
}

input[type=submit]{
  color: #fff;
  background-color: #FA5216;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

input[type=submit]:hover{
  background-color: #fa5316d2;
}