*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

p{
  color: #999999;
}

::placeholder{
  color:#999999;
}

input[type=text]{
  border: 1px solid #999999;
  border-radius: 4px;
}

input[type=submit]{
  color: #fff;
  background-color: #FA5216;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

input[type=submit]:hover{
  background-color: #fa5316d2;
}